#map-container {
    position: absolute;
    left: 10px;
    right:10px;
    top: 60px;
    bottom: 10px;
    border: 1px solid #ccc;
}
.map {
    height: 100%;
    width: 100%;
}
.map-popup img {
    width: 200px;
    height: 150px;
}
.unit-details {
    margin: 10px;
}
.unit-details tr td:nth-child(1){
    text-align: right;
}
.unit-details tr td:nth-child(2){
    padding-left: 20px;
}
.toast-top-right {
    top: 60px;
    right: 12px;
}
